body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url(/assets/img/ECOMOMY.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.center {
  width: 100%;
}

.top {
  width: 100%;
  height: 100vh;
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: white;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.small_screen {
  visibility: hidden;
}

.big_screen {
  visibility: visible;
}

header {
  position: fixed;
  height: 11vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.568);
  color: #8ee71a;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header nav {
  /* background-color: rgba(7, 48, 34, 0.521); */
  padding-right: 20px;
}
header nav a {
  /* background-color: rgb(7, 194, 132); */
  text-decoration: none;
  font-weight: normal;
  color: azure;
  font-size: 12px;
  padding: 10px;
}

.left {
  flex-basis: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 10;
}

.left-item {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.left-item .title {
  font-size: 3vw;
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white;
}
.left-item #rooms {
  font-size: 3vw;
}
.left-item .text {
  font-size: 1.2vw;
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: white;
}

.right {
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  flex-basis: 50%;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.25s;
  transform: scale(0.3);
}
.item img {
  width: 20vw;
  border-radius: 1.7mm;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.item img:hover {
  width: 22vw;
}
.item button {
  background: white;
  padding: 10px 20px;
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  color: black;
  outline: none;
  border: none;
  border-radius: 7mm;
  margin-top: 50px;
  transition: 0.4s ease-in-out;
}
.item button:hover {
  background: none;
  cursor: pointer;
  border: solid 1px white;
  color: white;
}
.item::before {
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(209, 213, 219, 0.3);
  z-index: -1;
}

.item.active {
  transform: scale(1);
  opacity: 1;
}

.correct {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.correct #collect_Data {
  font-size: 0.7vw;
  font-weight: 300;
}

form {
  width: 24.4vw;
  height: 28vw;
  /* width: 300px;
  height: 400px; */
  backdrop-filter: blur(5px) saturate(160%);
  -webkit-backdrop-filter: blur(5px) saturate(160%);
  background: rgba(110, 110, 110, 0.2);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 5mm;
  box-shadow: 0px 1px 2px 0px rgba(82, 21, 21, 0.2), 0px 1px 3px 1px rgba(206, 36, 36, 0.2);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  transition: 0.25s ease-in-out;
}
form .head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1vw;
  color: rgb(247, 136, 0);
}
form .head .title {
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: -1vw;
}
form .head .title span {
  font-size: 1.6vw;
  color: aliceblue;
}
form .head .desc {
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: yellowgreen;
}
form .head .desc a {
  color: dodgerblue;
}
form .btn {
  width: 100%;
  height: 2.5vw;
  padding: 1px 0px 1px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: dodgerblue;
  color: white;
  outline: none;
  border: none;
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1vw;
  font-weight: 500;
  border-radius: 3mm;
  cursor: pointer;
  margin-top: 5px;
}
form .btn:hover {
  border: none;
  background: rgb(15, 111, 206);
  color: white;
}
form .btn:focus {
  background: rgb(1, 67, 105);
}
form .btn span {
  transition: 0.25s;
  font-size: 0.7vw;
}
form .btn:hover span {
  transform: translateX(10px);
}
form #reset_btn {
  margin-top: 0;
  background-color: yellow;
  color: #000;
  border: none;
}
form #reset_btn:active {
  background-color: rgb(230, 230, 20);
}

.input-field {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.input-field .input {
  height: 2.5vw;
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  border: 1px solid rgb(241, 156, 116);
  font-size: 0.8vw;
  box-sizing: border-box;
  padding: 5px 20px;
  font-weight: 500;
  color: white;
  /*
    If There's no placeholder in your html-form-input?
    Then Push the .label up and Display it.
  */
}
.input-field .input::-moz-placeholder {
  font-weight: 100;
  font-style: italic;
  color: aliceblue;
  font-size: 0.7vw;
}
.input-field .input::placeholder {
  font-weight: 100;
  font-style: italic;
  color: aliceblue;
  font-size: 0.7vw;
}
.input-field .input:focus {
  border: none;
  background: transparent;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: 0.3mm solid rgba(0, 0, 0, 0.2);
}
.input-field .input:focus + .label {
  top: -0.2vw;
  opacity: 1;
  z-index: 1;
}
.input-field .input:focus::-moz-placeholder {
  opacity: 0;
}
.input-field .input:focus::placeholder {
  opacity: 0;
}
.input-field .input input:not(:-moz-placeholder-shown) + .label {
  top: -20px;
  opacity: 1;
  z-index: 1;
}
.input-field .input input:not(:placeholder-shown) + .label {
  top: -20px;
  opacity: 1;
  z-index: 1;
}
.input-field .label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(224, 229, 240);
  font-size: 11px;
  font-weight: 200;
  opacity: 0;
  z-index: -1;
  transition: 0.25s ease-out;
}
.input-field .big {
  width: 100%;
  border-radius: 3mm;
  margin-bottom: -9px;
  margin-top: 12px;
}
.input-field .small {
  box-sizing: border-box;
  margin-bottom: -9px;
  font-size: 0.7vw;
  width: 50%;
}
.input-field .small:nth-child(1) {
  border-radius: 3mm 0 0 3mm;
}
.input-field .small:nth-child(2) {
  border-radius: 0 3mm 3mm 0;
}

.index_Footer {
  background-color: rgba(77, 72, 72, 0.123);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 0.1px;
}
.index_Footer h5 {
  color: white;
}
.index_Footer #year {
  color: rgb(253, 238, 31);
}
.index_Footer #global_Dev {
  color: rgb(212, 209, 32);
}

/* FOOTER */
.login_Footer {
  text-align: center;
  background-color: rgba(77, 72, 72, 0.123);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  padding: 0.1px;
  background: transparent;
}
.login_Footer h5 {
  color: rgb(0, 0, 0);
}
.login_Footer #year {
  color: rgb(255, 255, 255);
}
.login_Footer #global_Dev {
  color: rgb(189, 15, 131);
}

.contact_Footer {
  background-color: rgba(77, 72, 72, 0.123);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  text-align: center;
  padding: 0.1px;
}
.contact_Footer h5 {
  color: rgb(0, 0, 0);
}
.contact_Footer #year {
  color: rgb(255, 255, 255);
}
.contact_Footer #global_Dev {
  color: rgb(240, 236, 24);
}

.booking_Footer {
  background-color: rgba(253, 136, 82, 0.13);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  text-align: center;
  padding: 0.1px;
}
.booking_Footer h5 {
  color: rgb(0, 0, 0);
}
.booking_Footer #year {
  color: rgb(255, 255, 255);
}
.booking_Footer #global_Dev {
  color: rgb(240, 236, 24);
}

@keyframes appear {
  /* START(BEFORE) ELEMENT DISPLAY */
  from {
    opacity: 0;
    -webkit-clip-path: inset(100% 100% 0 0);
            clip-path: inset(100% 100% 0 0);
    /*
    YOU CAN TRY THESE STYLE OF ANIMATION TO.
    1. scale: 0.5; 
    2. transform: translateX(-100px); 
    */
  }
  /* START, BEFORE ELEMENT DISPLAY */
  to {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
    /*
    YOU CAN TRY THESE STYLE OF ANIMATION TO.
    1. scale: 1; 
    2. transform: translateX(0px); 
    */
  }
}
/*
    ANIMATION APPLIED TO CLASS ".block" HERE
*/
.element {
  animation: appear linear;
  /* 
      FOR ANIMATION TO HAPPEN WHEN ELEMENTS TRIES TO GET ON PAGE(DISPLAY).
      BUT, ANIMATIONS ARE TO COMPLETED EVEN WHEN THE ELEMENTS ARE STILL IN THE MIDDLE OF THE SCREEN, 
      AND THEY ARE COMPLETED WHEN THEY LEAVE THE SCREEN.
  */
  animation-timeline: view();
  /* 
      FOR THAT USE "animation-range: ", AND SET "animation-range: entry 0;" WHICH MAKES THE ANIMATION TO HAPPEN WHEN THE ELEMENT START TO ENTER THE VIEW-PORT(SCREEN).
      WITH THIS, ELEMENTS GET COMPLETED EVEN BEFORE REACH THE MIDDLE OF THE SCREEN, TO FIX THIS,
      SET "animation-range: entry 0% cover 40%;" WHICH ENSURES THE ELEMENT COMPLETES ANIMATION, WHEN IT REACHS 40% OF THE SCREENS' HEIGHT.
  */
  animation-range: entry 0% cover 40%;
}

@media screen and (max-width: 1024px) {
  .item img {
    width: 30vw;
  }
  .item button {
    background: transparent;
    color: white;
    border: solid 1px white;
    width: 16vw;
    font-size: 2vw;
  }
  .item::before {
    left: -112%;
  }
  form {
    width: 39vw;
    height: 45vw;
  }
  form .head {
    margin-bottom: 2vw;
  }
  form .head .title {
    font-size: 2.2vw;
  }
  form .head .title span {
    font-size: 2.4vw;
  }
  form .btn {
    width: 100%;
    background: dodgerblue;
    color: white;
    outline: none;
    border: none;
    border-radius: 3mm;
    cursor: pointer;
    font-size: 2vw;
    font-weight: 500;
    margin-top: 2px;
  }
  form .btn span {
    transition: 0.25s;
    font-size: 1.5vw;
  }
  form .btn:hover span {
    transform: translateX(10px);
  }
  form #reset_btn {
    margin-bottom: 3px;
  }
  .input-field .input {
    height: 4.5vw;
    font-size: 1.5vw;
  }
  .input-field .input::-moz-placeholder {
    font-size: 1.5vw;
  }
  .input-field .input::placeholder {
    font-size: 1.5vw;
  }
  .input-field .big {
    width: 100%;
    margin-top: 0.5vw;
  }
  .input-field .small {
    width: 50%;
  }
  .input-field .label {
    font-size: 1.1vw;
  }
  .left-item .title {
    font-size: 3vw;
  }
  .left-item #rooms {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  /* home/index - image slider */
  .center .title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .center .title span {
    font-size: 30px;
  }
  .carousel {
    padding-top: 25px;
  }
  .carousel .controls button span {
    font-size: 17px;
  }
  .slide-center {
    transform: translateX(calc(50% - 10px));
  }
  .slide-center .slider .slide {
    width: 120px;
    height: 155px;
  }
  .slide-center .slider .slide img {
    width: 120px;
    height: 155px;
  }
  .slide-center .slider .slide.active {
    width: 250px;
    height: 250px;
  }
  .slide-center .slider .slide.active img {
    width: 250px;
    height: 250px;
  }
  /* BOOKING */
  .top {
    font-size: 8vw;
  }
  .item {
    width: 100%;
    height: 100%;
  }
  .item button {
    padding: 10px 10px;
    font-size: 2vw;
    margin-top: 50px;
  }
  .item::before {
    left: -100%;
    width: 100%;
  }
  .item.active img {
    width: 30vw;
    border-radius: 10%;
  }
  .correct #collect_Date {
    font-size: 1vw;
    font-weight: 700;
  }
  form {
    width: 36vw;
    height: 43vw;
    padding: 3vw;
  }
  form .head {
    margin-bottom: 3vw;
  }
  form .head .title {
    font-size: 2vw;
  }
  form .head .title span {
    font-size: 2.3vw;
  }
  form .btn {
    width: 100%;
    height: 4vw;
    background: dodgerblue;
    margin-top: 0.2vw;
    padding: 1vw;
    border-radius: 5px;
    font-size: 1.7vw;
  }
  form .btn span {
    transition: 0.25s;
    font-size: 1.7vw;
  }
  form .btn:hover span {
    transform: translateX(10px);
  }
  form #reset_btn {
    margin-bottom: 3px;
  }
  .input-field .input {
    height: 4vw;
    font-size: 1.2vw;
  }
  .input-field .big {
    width: 100%;
    margin-top: 0.5vw;
  }
  .input-field .small {
    width: 50%;
  }
  .input-field .label {
    font-size: 1vw;
  }
  .left-item {
    padding: 0 10px;
  }
  .left-item .title {
    font-size: 3vw;
  }
  .left-item #rooms {
    font-size: 3vw;
  }
  .left-item .text {
    font-size: 1.7vw;
  }
  /* LOGIN */
  .login_slider form {
    width: 300px;
    height: 400px;
    padding: 40px 60px;
    margin: 0 10px;
  }
  .login_slider form .title {
    font-size: 15px;
  }
  .login_slider form .title span {
    font-weight: 700;
  }
  .login_slider form .subtitle {
    font-size: 10px;
    margin-bottom: 25px;
  }
  .login_slider form .inputf {
    margin-bottom: 20px;
  }
  .login_slider form .inputf .input {
    width: 100%;
    height: 27px;
    padding: 0 15px;
    font-size: 12px;
    color: rgb(246, 249, 255);
  }
  .login_slider form .inputf .input::-moz-placeholder {
    font-size: 10px;
  }
  .login_slider form .inputf .input::placeholder {
    font-size: 10px;
  }
  .login_slider form .inputf .input:focus + .label {
    top: -15px;
    font-size: 9px;
  }
  .login_slider form .inputf .label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(224, 229, 240);
    font-size: 11px;
    font-weight: 500;
    opacity: 0;
    z-index: -1;
    transition: 0.25s ease-out;
  }
  .login_slider form button {
    width: 100%;
    height: 25px;
    font-size: 12px;
  }
  .login_slider #reset_Btn {
    margin-bottom: 3px;
    margin-top: 0px;
    height: 25px;
  }
  .login_slider .card {
    width: 330px;
    height: 320px;
    padding: 40px;
  }
  .login_slider .card .head {
    font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 35px;
  }
  .login_slider .card .head .name {
    font-size: 20px;
  }
  .login_slider .card .head .name span {
    font-weight: 600;
    color: rgb(36, 217, 127);
  }
  .login_slider .card .desc {
    font-size: 12px;
  }
  .login_slider .card .btn {
    font-size: 12px;
  }
  .login_slider .card .btn button {
    font-size: 12px;
  }
  .card.active {
    right: calc(100% - 330px);
    border-radius: 4mm 0 0 4mm;
  }
  /* CONTACT */
  .contact_team .title {
    font-size: 30px;
    font-weight: 700;
  }
  .contact_team .profile {
    min-width: 350px;
    padding-top: 20px;
    margin: 10px;
    max-height: 100px;
  }
  .contact_team .profile img {
    width: 35px;
    height: 35px;
  }
  .contact_team .profile .details {
    font-size: 12px;
  }
  .contact_team .profile:focus {
    max-height: 500px;
  }
  .contact_team .profile:focus #picture {
    border: 5px solid var(--primary);
  }
  .contact_team .profile:focus .card {
    display: flex;
    animation: fade 0.5s ease-in-out;
  }
  .card {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .card .head {
    width: 100%;
    margin-bottom: 7px;
  }
  .card .head img {
    width: 30px;
    height: 30px;
  }
  .card .head .name {
    font-size: 10px;
    font-weight: 200;
  }
  .card .content {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .card .content .role {
    font-weight: 700;
    font-size: 14px;
  }
  .card .icons {
    height: 2.7vw;
  }
  .card .icons a {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }
  .card .icons a:hover {
    background: white;
    color: var(--primary);
    border-radius: 50%;
  }
  /* FOOTER */
  .index_Footer h5 {
    font-size: 1.5vw;
  }
  .booking_Footer h5 {
    font-size: 1.5vw;
  }
  .login_Footer h5 {
    font-size: 1.5vw;
  }
  .contact_Footer h5 {
    font-size: 1.5vw;
  }
  /* HEADER */
  header .logo {
    font-size: 1.5vw;
  }
  header nav a {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 425px) {
  /* HEADER */
  .small_screen {
    visibility: visible;
  }
  .small_screen .menu_nav.open {
    margin-top: 0px;
  }
  .big_screen {
    display: none;
  }
  header {
    background-color: transparent;
  }
  .menu_btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu_btn__burger {
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }
  .menu_btn__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }
  .menu_btn__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }
  .menu_btn__burger.open {
    transform: rotate(720deg);
    background: transparent;
  }
  .menu_btn__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .menu_btn__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
  }
  .nav.open {
    visibility: visible;
  }
  .nav .menu_nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #272727;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }
  .nav .menu_nav.open {
    transform: translateY(0);
  }
  .nav .menu_nav__item {
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
  }
  .nav .menu_nav__item.open {
    transform: translateX(0);
  }
  .nav .menu_nav__item.active > a {
    color: #ff652f;
  }
  .nav .menu_nav__link {
    display: inline-block;
    font-size: 6vw;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu_nav__link:hover {
    color: #ff652f;
  }
  /*
    MENU ITEMS MOVING INTO CENTER FROM RIGHT SIDE, ONE BY ONE.
    WE HAVE 4 ITEMS IN THE MENU, THATS WHY WE HAVE "@for $link from 1 through 4".
  */
  .menu_nav__item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .menu_nav__item:nth-child(2) {
    transition-delay: 0.35s;
  }
  .menu_nav__item:nth-child(3) {
    transition-delay: 0.45s;
  }
  .menu_nav__item:nth-child(4) {
    transition-delay: 0.55s;
  }
  /* home/index - image slider */
  .center .title {
    font-size: 6vw;
  }
  .center .title span {
    font-size: 6vw;
  }
  .carousel {
    margin-top: -6vw;
  }
  .carousel .controls button span {
    font-size: 4vw;
  }
  .slide-center {
    height: 60vw;
    transform: translateX(calc(50% + 50px));
  }
  .slide-center .slider .slide {
    width: 30vw;
    height: 25vw;
  }
  .slide-center .slider .slide img {
    width: 30vw;
    height: 25vw;
  }
  .slide-center .slider .slide.active {
    width: 40vw;
    height: 35vw;
  }
  .slide-center .slider .slide.active img {
    width: 100%;
    height: 35vw;
  }
  /* BOOKING */
  .top {
    font-size: 8vw;
  }
  .item {
    width: 100%;
    height: 100%;
  }
  .item button {
    display: flex;
    justify-content: center;
    font-size: 2.9vw;
    padding: 3vw 20vw 3vw 20vw;
    transition: 0.05s ease-in-out;
    background: rgba(224, 63, 0, 0.7137254902);
    border: none;
    color: #ffffff;
    font-weight: 800;
  }
  .item button:focus {
    background: rgba(133, 38, 0, 0.7137254902);
    border: none;
    color: #ffffff;
  }
  .item::before {
    left: -100%;
    width: 100%;
    background: none;
    border: none;
  }
  .item.active {
    width: 0%;
  }
  .item.active img {
    width: 60vw;
    border-radius: 10%;
  }
  .item.active img:active {
    width: 65vw;
  }
  .correct #collect_Data {
    font-size: 1.9vw;
    font-weight: 500;
  }
  form {
    width: 58vw;
    height: 70vw;
    padding: 10px;
  }
  form .head {
    margin-bottom: 4.5vw;
  }
  form .head .title {
    font-size: 3.5vw;
    color: #000;
  }
  form .head .title span {
    font-size: 4vw;
  }
  form .btn {
    width: 100%;
    height: 7vw;
    font-size: 2.8vw;
    font-weight: 600;
    background: dodgerblue;
    color: white;
    margin-top: 2px;
    padding: 1vw;
    border-radius: 7px;
  }
  form .btn span {
    font-size: 1.9vw;
    transition: 0.25s;
  }
  form .btn:active span {
    transform: translateX(10px);
  }
  form #reset_btn {
    margin-bottom: 3px;
  }
  .input-field {
    justify-content: center;
    align-items: center;
  }
  .input-field .input {
    height: 6vw;
    font-size: 2.5vw;
  }
  .input-field .big {
    width: 100%;
    margin-top: 1vw;
  }
  .input-field .big::-moz-placeholder {
    font-size: 2vw;
  }
  .input-field .big::placeholder {
    font-size: 2vw;
  }
  .input-field .small {
    width: 50%;
    margin-bottom: -2vw;
  }
  .input-field .label {
    font-size: 2vw;
  }
  .left-item {
    visibility: hidden;
    /* padding: 0 10px;

    .title {
      font-size: 5vw;
    }

    #rooms {
      font-size: 2.7vw;
    }

    .text {
      font-size: 2vw;
    } */
  }
  /* LOGIN */
  .login_slider {
    display: none;
  }
  .signup {
    color: #9bceff;
    font-size: 2.7vw;
    text-align: center;
    display: block;
  }
  #small_screen {
    display: flex;
  }
  #small_screen form {
    width: 70vw;
    height: 100vw;
    backdrop-filter: blur(16px) saturate(0%);
    -webkit-backdrop-filter: blur(16px) saturate(0%);
    background: rgba(17, 25, 40, 0.75);
    border-radius: 4mm;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-sizing: border-box;
    padding: 40px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 50px 50px 100px -20px, rgba(0, 0, 0, 0.5) 30px 30px 60px -30px, rgba(212, 217, 222, 0.35) 2px -2px 6px 0px inset;
    z-index: 3;
    transition: 0.25s ease-in-out;
  }
  #small_screen form .title {
    font-size: 3.5vw;
    color: rgb(246, 249, 255);
    letter-spacing: 1px;
    margin-bottom: 0.1vw;
    font-weight: 300;
  }
  #small_screen form .title span {
    font-weight: 700;
  }
  #small_screen form .subtitle {
    font-size: 2vw;
    color: rgb(224, 229, 240);
    letter-spacing: 0.25mm;
    margin-bottom: 7vw;
  }
  #small_screen form .inputf {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    box-sizing: border-box;
    margin-bottom: 5vw;
    position: relative;
  }
  #small_screen form .inputf .input {
    width: 100%;
    height: 5vw;
    box-sizing: border-box;
    border: none;
    outline: 0.5mm solid rgb(200, 200, 220);
    background: transparent;
    border-radius: 1.5mm;
    padding: 0 15px;
    font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color: rgb(246, 249, 255);
    /*
      If There's no placeholder in your html-form-input?
      Then Push the .label up and Display it.
    */
  }
  #small_screen form .inputf .input::-moz-placeholder {
    color: rgb(175, 180, 190);
  }
  #small_screen form .inputf .input::placeholder {
    color: rgb(175, 180, 190);
  }
  #small_screen form .inputf .input:focus {
    outline: 0.5mm solid rgb(124, 164, 248);
  }
  #small_screen form .inputf .input:focus + .label {
    top: -2vw;
    opacity: 1;
    z-index: 1;
  }
  #small_screen form .inputf .input:focus::-moz-placeholder {
    opacity: 0;
  }
  #small_screen form .inputf .input:focus::placeholder {
    opacity: 0;
  }
  #small_screen form .inputf .input input:not(:-moz-placeholder-shown) + .label {
    top: -20px;
    opacity: 1;
    z-index: 1;
  }
  #small_screen form .inputf .input input:not(:placeholder-shown) + .label {
    top: -20px;
    opacity: 1;
    z-index: 1;
  }
  #small_screen form .inputf .label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(224, 229, 240);
    font-size: 1.8vw;
    font-weight: 500;
    opacity: 0;
    z-index: -1;
    transition: 0.25s ease-out;
  }
  #small_screen form button {
    width: 100%;
    height: 6vw;
    background: rgb(36, 217, 127);
    color: white;
    border: none;
    outline: none;
    border-radius: 1.5mm;
    font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 2.7vw;
    cursor: pointer;
  }
  #small_screen form #reset_Btn {
    background-color: yellowgreen;
    color: #000;
    margin-bottom: 2px;
  }
  /* CONTACT */
  .contact_team .title {
    font-size: 6vw;
    font-weight: 700;
  }
  .contact_team .profile {
    min-width: 45vw;
    padding-top: 20px;
    margin: 10px;
    max-height: 100px;
  }
  .contact_team .profile img {
    width: 5vw;
    height: 5vw;
  }
  .contact_team .profile .details {
    font-size: 2vw;
  }
  .contact_team .profile:focus {
    max-height: 10vw;
  }
  .contact_team .profile:focus #picture {
    border: 5px solid var(--primary);
  }
  .contact_team .profile:focus .card {
    display: flex;
    animation: fade 0.5s ease-in-out;
  }
  .card {
    width: 40vw;
    height: 35vw;
    margin-bottom: 20px;
    padding: 20px;
  }
  .card .head {
    width: 100%;
    margin-bottom: 2vw;
  }
  .card .head img {
    width: 8vw;
    height: 5vw;
  }
  .card .head .name {
    font-size: 2vw;
    font-weight: 200;
  }
  .card .content {
    font-size: 2vw;
    margin-bottom: 2vw;
  }
  .card .content .role {
    font-weight: 700;
    font-size: 2.7vw;
  }
  .card .icons {
    height: 5.5vw;
  }
  .card .icons a {
    width: 40px;
    height: 40px;
  }
  .card .icons a:hover {
    background: white;
    color: var(--primary);
    border-radius: 50%;
  }
}/*# sourceMappingURL=style.css.map */